.new-hobby {
  font-family: "Courier New", Courier, monospace;
  background-color: #83e4aa;
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}
.new-hobby button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border-style: solid;
  border-color: black;
  background-color: #085836;
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
}
.new-hobby button:hover,
.new-hobby button:active {
  background-color: #1d9236;
}
.new-hobby button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}
.new-hobby button.alternative:hover,
.new-hobby button.alternative:active {
  background-color: #ddb3f8;
}
